body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #34495e;
}
.contenedor h2{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}
.contenedor{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #191919;
	text-align: center;
	color: white;
	border-radius: 24px;
}
.contenedor input[type = "text"],.contenedor input[type = "password"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.contenedor input[type = "text"]:focus,.contenedor input[type = "password"]:focus{
	width: 280px;
	border-color: #2ecc71;
}
.contenedor input[type = "submit"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.contenedor input[type = "submit"]:hover{
	background: #2ecc71;
}
.contenedor input[type = "radio"],.contenedor input[type = "checkbox"]{
	
}
.sexo .radio label, .contenedor .checkbox label{
	color: white;
	background: rgba(0,0,0,.1);
	padding: 5px 15px;
}
.logo{
  float: left;
  padding: 10px 0;
}

.logo img{
  height: 40px;
}